body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

h3 {

    text-align: center;
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    width: 250px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.8;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.98);
}

button#addButton {
    background-color: #4CAF50; 
    color: white;
}

button#addButton:hover {
    background-color: #45a049;
}

button#searchButton {
    background-color: #008CBA;
    color: white;
}

button#searchButton:hover {
    background-color: #007bb5;
}

button#exportButton {
    background-color: #ff9800; 
    color: white;
}

button#exportButton:hover {
    background-color: #fb8c00;
}

button#newCountryButton {
    background-color: #f44336; 
    color: white;
}

button#newCountryButton:hover {
    background-color: #e53935;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #74bb7c;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}


button.editButton {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

button.editButton:hover {
    background-color: #45a049;
}

button.deleteButton {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

button.deleteButton:hover {
    background-color: #e53935;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    margin: 10% auto;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

